.outer{
	margin: 20px;
	padding: 10px;
}
.card{
	margin: 0 auto;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90%;
}

.mat-spinner::ng-deep circle {
  stroke: #1E88E5;
}
